@forward '../../form-unit-header/form-unit-header.scss';
@forward '../../expandable-checkbox-list/expandable-checkbox-list.scss';
@forward '../../rich-checkbox-button/rich-checkbox-button.scss';
@forward '../../bullet-list/bullet-list.scss';

.form-elements-section__lists {
  margin-top: 125px;
}

.form-elements-section__expandable-lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-elements-section__rich-checkbox-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-elements-section__rich-checkbox-buttons-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-elements-section__lists-column-content {
  display: grid;
  grid-template-columns: 320px auto;
  column-gap: 72px;
}
