@forward "./_bg/index.scss";
@forward "./_type/index.scss";
@forward "./_size/index.scss";
@forward "./button_cta-primary.scss";

.button {
  border: none;
  background: transparent;
  font: var(--type-heading-h3);
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  position: relative;
  height: fit-content;
}

.button__text {
  position: relative;
  z-index: 2;
  opacity: 1;
}
