.pagination {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagination__interface {
  display: flex;
  justify-content: center;

  @media screen and (width < 600px) {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.pagination__page-links {
  display: flex;
}

.pagination__page-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font: var(--type-heading-h3);
  font-weight: normal;
  color: var(--color-dark-shade-50);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.pagination__page-link_current {
  background: var(--gradient-bg-primary);
  color: #fff;
  font-weight: 700;
}

.pagination__next-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  background: var(--gradient-bg-additional);

  @media screen and (width < 600px) {
    width: 100%;
    max-width: 200px;
  }
}

.pagination__next-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  background-image: url(./assets/cta-primary-arrow-forward.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.pagination__label {
  font: var(--type-body);
  color: var(--color-dark-shade-75);
  text-align: center;
}
