@use "../../scss/abstracts/functions" as f;

.range-calendar {
  // max-width: f.toRem(320);
  padding: f.toRem(20);
  border-radius: 4px;
  border: 1px solid var(--color-dark-shade-25);
  background: #fff;
  position: relative;
}

.range-calendar__month-switch {
  display: flex;
  justify-content: space-between;
}

.switch-month-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.range-calendar__month-year-label {
  font: var(--type-heading-h2);
}

.range-calendar__body {
  font-size: f.toRem(12);
  margin-top: f.toRem(30);
  max-width: fit-content;
  margin: 0 auto;
}

.range-calendar__days-labels {
  font-weight: 700;
  color: var(--color-purple);
}

.range-calendar__days-row {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  justify-content: center;
}

.range-calendar__day-unit {
  // width: min(100%, 40px);
  width: 40px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-unit-btn {
  background: transparent;
  border: none;
  border-radius: 50%;
  color: var(--color-dark-shade-50);
  position: relative;
  z-index: 2;

  &[data-valid-date="true"] {
    cursor: pointer;
  }

  &[data-valid-date="true"]:hover {
    background: var(--gradient-bg-primary);
    color: #fff;
    font-weight: 700;
  }
}

.day-unit-btn_color_secondary {
  color: var(--color-dark-shade-25);
}

.day-unit-btn_type_today {
  background: var(--gradient-bg-additional);
  color: #fff;
  font-weight: 700;
}

.day-unit-btn_clicked {
  background: var(--gradient-bg-primary);
  color: #fff;
  font-weight: 700;
}

.day-unit-btn_range_from::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--gradient-bg-primary);
  opacity: 25%;
  border-radius: 50% 0 0 50%;
  z-index: -1;
}

.day-unit-btn_range_to::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--gradient-bg-primary);
  opacity: 25%;
  border-radius: 0 50% 50% 0;
  z-index: -1;
}

.day-unit-btn_range_in::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--gradient-bg-primary);
  opacity: 25%;
}

.range-calendar__footer {
  margin-top: 20px;
}

.range-calendar__buttons {
  display: flex;
  justify-content: space-between;
}
