include ../layout/layout
include ../card-room-search/card-room-search
include ../card-room-book/card-room-book
include ../card-registration/card-registration
include ../card-sign-in/card-sign-in
include ../card-room/card-room
include ../range-calendar/range-calendar

mixin cards-section(options)
  //- options = {options, mods=["mod1", "mod2", ...]}

  -
    let unitClassName = 'cards-section';

    //- Add modifiers to class name
    if ( Object.hasOwn(options, 'mods') && options.mods) {
      //- If modifiers were passed to mixin
      options.mods.forEach((element) => {
        unitClassName += ` cards-section_${element}`;
      });
    }

    const roomSlides = [['../cards-section/assets/room1.png',
                         '../cards-section/assets/room1.png',
                         '../cards-section/assets/room1.png',
                         '../cards-section/assets/room1.png'],
                        ['../cards-section/assets/room2.png',
                         '../cards-section/assets/room2.png',
                         '../cards-section/assets/room2.png',
                         '../cards-section/assets/room2.png']]

  section(class=unitClassName)&attributes(attributes)
    +layout({})
      .cards-section__content
        .cards-section__column
          +card-room-search({title: 'Найдём номера под ваши пожелания'})
          +card-registration({})
        .cards-section__column
          +card-room-book({roomNumber:888, isLux: true, roomPrice: 9990, discount: 2179, servicePrice: 0, addPrice: 300})
          +card-sign-in({})
        .cards-section__column
          +range-calendar({})
          +card-room({roomNumber: 888, isLux: true, roomPrice: 9990, reviewsTotal: 145, slides: roomSlides[0], stars: 5})
          +card-room({roomNumber: 840, isLux: false, roomPrice: 9900, reviewsTotal: 65, slides: roomSlides[1], stars: 4})
