@forward "../layout/layout";
@forward "../card-room-search/card-room-search";
@forward "../card-room-book/card-room-book";
@forward "../card-registration/card-registration";
@forward "../card-sign-in/card-sign-in";
@forward "../card-room/card-room";
@forward "../range-calendar/range-calendar";

.cards-section {
  padding: 150px 140px 140px 140px;
  background: #f4f4f6;
}

.cards-section__content {
  display: flex;
  justify-content: space-between;
}

.cards-section__column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
