.counter {
  display: flex;
  justify-content: space-between;
}
.counter__label {
  font: var(--type-heading-h3);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.counter__interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 92px;
}

.counter__button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--color-dark-shade-25);
  position: relative;
  color: var(--color-dark-shade-50);
}

.counter__button:hover {
  cursor: pointer;
  border: 1px solid var(--color-dark-shade-50);
}

.counter__button_disabled {
  border: 1px solid #eaeaed;
  color: #eaeaed;
}

.counter__button_disabled:hover {
  cursor: default;
  border: 1px solid var(--color-dark-shade-5);
}

.counter__value {
  font: var(--type-heading-h3);
  color: var(--color-dark-shade-100);
}
