include ../dropdown/dropdown
include ../counter/counter
include ../button/button

mixin dropdown-guests(options)
  //- options = {options, mods=["mod1", "mod2", ...]}

  -
    let unitClassName = 'dropdown-guests';

    //- Add modifiers to class name
    if ( Object.hasOwn(options, 'mods') && options.mods) {
      //- If modifiers were passed to mixin
      options.mods.forEach((element) => {
        unitClassName += ` dropdown-guests_${element}`;
      });
    }

  +dropdown({value: options.value, selectSize: 'l'})(
    class=unitClassName,
    data-default-value=options.value
  )
    each counter in options.counters
      +counter({label: counter.label, defaultValue: counter.defaultValue})
    .dropdown-guests__btns
      +button({text: 'Очистить'}).dropdown-guests__clear-btn.button_type_text
      +button({text: 'Применить'}).dropdown-guests__submit-btn.button_type_text
