@use '../../scss/abstracts/functions' as f;

@forward '../layout/layout.scss';
@forward './__fields/form-elements-section__fields.scss';
@forward './__buttons/form-elements-section__buttons.scss';

.form-elements-section {
  padding: f.toRem(140) 0 f.toRem(80);
}

.form-elements-section__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: f.toRem(126);
}
