.rate-button {
  display: flex;
  gap: 4px;
}

.rate-button__star {
}

.rate-button[data-is-active] {
  .rate-button__star {
    cursor: pointer;
  }
}

.rate-button__star-bg {
  visibility: hidden;
}

.rate-button__star_checked {
  .rate-button__star-bg {
    visibility: visible;
  }
}

.rate-button__star-border {
  fill: url(#paint0_linear_18447_192);
}
