@use '../../scss/abstracts/functions' as f;
@forward '../form-unit-header/form-unit-header.scss';
@forward '../date-dropdown/date-dropdown.scss';
@forward '../range-calendar/range-calendar.scss';

:root {
  --animation-length: 0.1s;
}

.date-range-picker {
  max-width: f.toRem(320);
  display: flex;
  flex-direction: column;
  gap: f.toRem(5);
  position: relative;
  z-index: 105;
}

@media screen and (width < 600px) {
  .date-range-picker {
    max-width: 100%;
  }
}

.date-range-picker_opened {
  .date-range-picker__popup {
    display: block;
    animation: fadeIn var(--animation-length), slideUp var(--animation-length);
    opacity: 100;
    top: calc(100% + 5px);
    // transition: visibility 0s, top var(--animation-length);
  }
}

@keyframes slideUp {
  from {
    top: calc(100% + 15px);
  }

  to {
    top: calc(100% + 5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.date-range-picker__selects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.date-range-picker__select-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.date-range-picker__popup {
  position: absolute;
  display: none;
  opacity: 0;
  top: calc(100% + 15px);
  transition: top 0s var(--animation-length);
  width: 100%;
}
