@forward '../../scss/main.scss';
@forward '../../blocks/header/header';
@forward '../../blocks/footer/footer';
@forward '../../blocks/card-registration/card-registration';

.page_scroll_lock {
  overflow: hidden;
}

@media screen and (width < 1024px) {
  /* Hide scrollbar */
  .page::-webkit-scrollbar {
    display: none;
  }
  .page {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.main {
  padding: 19px 20px;
  background-image: url('./assets/registration-page-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__registration-card {
  margin: 0 auto;
}
