include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/card-registration/card-registration

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src=require("./registration-page.js"), defer="defer")
    link(rel="stylesheet", href=require("./registration-page.scss"))
    link(rel="icon", href=require("./assets/img/gorilla.svg"))
    title Ape++
  body.page
    +header({registrationPageLink: './registration-page.html', signinPageLink: './signin-page.html', homePageLink: '../index.html'})
    main.main
      .main__content
        +card-registration({signinPageLink: './signin-page.html'}).main__registration-card
    +footer({homePageLink: '../index.html'})
