include ../../blocks/gui-section/gui-section
include ../../blocks/colors-type-section/colors-type-section
include ../../blocks/form-elements-section/form-elements-section

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href=require('./index.scss'))
    script(src=require('./index.js'), defer='defer')
    link(rel='icon', href=require('./assets/img/gorilla.svg'))
    title Ape++
  body
    +gui-section({})
      +colors-type-section({})
    +gui-section({})
      +form-elements-section({})
