.feature-box {
  display: flex;
  gap: 10px;
  padding-bottom: 17px;
  align-items: center;
  max-width: 280px;
}

.feature-box_underlined {
  box-shadow: 0 1px 0 var(--color-dark-shade-10);
}

.feature-box__icon {
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
}

.feature-box__text-content {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-dark-shade-75);
}

.feature-box__title {
  font-weight: 700;
}

.feature-box__decription {
  font-weight: 400;
}
