include ../counter/counter

mixin dropdown(options)
  //- options = {options, mods=["mod1", "mod2", ...]}

  -
    let unitClassName = 'dropdown';

    //- Add modifiers to class name
    if ( Object.hasOwn(options, 'mods') && options.mods) {
      //- If modifiers were passed to mixin
      options.mods.forEach((element) => {
        unitClassName += ` dropdown_${element}`;
      });
    }

  div(class=unitClassName)&attributes(attributes)
    .dropdown__select.field(class=`field_size_${options.selectSize}`)!= options.value
    .dropdown__menu
      .dropdown__menu-content
        block
