@use '../../scss/abstracts/functions' as f;

:root {
  --dropdown-slide-animation-length: 0.1s;
}

.dropdown {
  position: relative;
}

.dropdown_opened {
  .dropdown__select {
    border-radius: 4px 4px 0 0;
    border: 1px solid var(--color-dark-shade-50);
    transition: border-radius 0s 0s;
  }

  .dropdown__select::before {
    border-color: var(--color-dark-shade-75);
  }

  .dropdown__menu {
    grid-template-rows: 1fr;
    border-width: 1px;
    padding: f.toRem(7);
    padding-left: f.toRem(15);
    transition: grid-template-rows var(--dropdown-slide-animation-length)
        ease-out,
      padding calc(var(--dropdown-slide-animation-length));
  }
}

.dropdown__select {
  position: relative;
  transition: border-radius var(--dropdown-slide-animation-length)
    var(--dropdown-slide-animation-length);
  cursor: pointer;
}

.dropdown__select::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border: solid var(--color-dark-shade-50);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #fff;
  z-index: 1;
  border-width: 0px;
  border-color: var(--color-dark-shade-50);
  border-style: solid;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  padding: f.toRem(0) f.toRem(7) f.toRem(0) f.toRem(15);
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--dropdown-slide-animation-length) ease-out,
    border-width 0s ease-out var(--dropdown-slide-animation-length),
    padding calc(var(--dropdown-slide-animation-length));
}

.dropdown__menu-content {
  overflow: hidden;
}

.dropdown__menu-content > *:not(:first-child) {
  margin-top: 7px;
}
