@forward '../../form-unit-header/form-unit-header.scss';
@forward '../../field/field.scss';
@forward '../../text-field/text-field.scss';
@forward '../../masked-text-field/masked-text-field.scss';
@forward '../../dropdown-guests/dropdown-guests.scss';
@forward '../../date-range-picker/date-range-picker.scss';
@forward '../../filter-date-dropdown/filter-date-dropdown.scss';
@forward '../../subscription-text-field/subscription-text-field.scss';

.form-elements-section__fields {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-elements-section__fields-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-elements-section__field-form-unit {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
