@use '../../scss/abstracts/functions' as f;

@forward '../dropdown/dropdown.scss';
@forward '../counter/counter.scss';

.dropdown-features {
  width: fit-content;
}

.dropdown-features_size_responsive {
  width: 100%;

  .field {
    width: 100%;
  }
}
