@forward "../layout/layout";
@forward "../header/header";
@forward "../footer/footer";
@forward "../footer-mobile/footer-mobile";

.headers-footers-section {
  padding: 140px 0;
  background: #f4f4f6;
}

.headers-footers-section__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
