mixin masked-text-field(options)
  //- options = {options, mods=["mod1", "mod2", ...]}

  -
    let unitClassName = 'masked-text-field';

    //- Add modifiers to class name
    if ( Object.hasOwn(options, 'mods') && options.mods) {
      //- If modifiers were passed to mixin
      options.mods.forEach((element) => {
        unitClassName += ` masked-text-field_${element}`;
      });
    }

  input.field.field_size_l(class=unitClassName)&attributes(attributes)
