.range-slider {
  max-width: 266px;
  flex-grow: 1;
}

.range-slider__header {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font: var(--type-heading-h3);
}

.range-slider__title {
  color: var(--color-dark-shade-100);
}

.range-slider__range-label {
  color: var(--color-dark-shade-50);
  font-weight: 400;
}

.range-slider__body {
  position: relative;
  margin-top: 20px;
}

.range-slider-thumb {
  width: 12px;
  height: 12px;
  background: var(--gradient-bg-additional);
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  cursor: pointer;
}

.range-slider__thumb-min {
  z-index: 1;
}
.range-slider__thumb-max {
  z-index: 2;
}

.range-slider__track {
  height: 6px;
  width: 100%;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  position: relative;
}

.range-slider__track-range {
  width: 30%;
  position: absolute;
  height: calc(100% + 2px);
  background: var(--gradient-bg-additional);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 3px;
}
