mixin range-slider(options)
  //- options = {options, mods=["mod1", "mod2", ...]}

  -
    let unitClassName = 'range-slider';

    //- Add modifiers to class name
    if ( Object.hasOwn(options, 'mods') && options.mods) {
      //- If modifiers were passed to mixin
      options.mods.forEach((element) => {
        unitClassName += ` range-slider_${element}`;
      });
    }

  div(class=unitClassName)&attributes(attributes)(data-min-value=0, data-max-value=15000)
    .range-slider__header
      .range-slider__title= options.title
      .range-slider__range-label
    .range-slider__body
      .range-slider__track
        .range-slider__track-range
      .range-slider__thumb-min.range-slider-thumb(data-value=5000)
      .range-slider__thumb-max.range-slider-thumb(data-value=10000)
