include ../../form-unit/form-unit
include ../../checkbox-button/checkbox-button
include ../../radio-button/radio-button
include ../../toggle/toggle
include ../../like-button/like-button
include ../../rate-button/rate-button
include ../../range-slider/range-slider
include ../../button/button
include ../../pagination/pagination

mixin form-elements-section__buttons(options)
  //- options = {options, mods=["mod1", "mod2", ...]}

  -
    let unitClassName = 'form-elements-section__buttons';

    //- Add modifiers to class name
    if ( Object.hasOwn(options, 'mods') && options.mods) {
      //- If modifiers were passed to mixin
      options.mods.forEach((element) => {
        unitClassName += ` form-elements-section__buttons_${element}`;
      });
    }

  div(class=unitClassName)&attributes(attributes)
    .form-elements-section__buttons-column
      +form-unit({title:'Checkbox Buttons', subtitle:''})
        .form-elements-section__checkbox-buttons
          +checkbox-button({label: 'Можно курить'})
          +checkbox-button({label: 'Можно с питомцами', isChecked: true})
          +checkbox-button({label: 'Можно пригласить гостей (до 10 человек)', isChecked: true})
      +form-unit({title:'Radio Buttons', subtitle:''})
        .form-elements-section__radio-buttons
          +radio-button({label: 'Мужчина', name: 'gender', value: 'male', isChecked: true})
          +radio-button({label: 'Женщина', name: 'gender', value: 'female'}) 
      +form-unit({title:'Toggle', subtitle:''})
        .form-elements-section__toggle
          +toggle({label: 'Получать спецпредложения', name: '', value: '', isChecked: true})
          +toggle({label: 'Получать спецпредложения', name: '', value: ''})
      +form-unit({title:'Like button', subtitle:''})
        .form-elements-section__like-button
          +like-button({defaultValue: 2})
          +like-button({defaultValue: 12, mods: ['checked']})
      +form-unit({title:'rate button', subtitle:''})
        .form-elements-section__rate-button
          +rate-button({})(data-value=4)
          +rate-button({})(data-value=5)
    .form-elements-section__buttons-column
      +range-slider({title: 'range slider', subtitle:''})
      +form-unit({title: 'buttons', subtitle: ''})
        .form-elements-section__click-buttons
          .form-elements-section__click-buttons-row
            +button({text: 'Click me'}).button_type_cta.button_bg_filled.button_cta-secondary
            +button({text: 'Click me'}).button_type_cta.button_bg_filled.button_cta-secondary.button_hovered
          .form-elements-section__click-buttons-row
            +button({text: 'Click me'}).button_type_cta.button_bg_ghost.button_cta-secondary
            +button({text: 'Click me'}).button_type_cta.button_bg_ghost.button_cta-secondary.button_ghost-hovered
          .form-elements-section__click-buttons-row
            +button({text: 'Click me'}).button_type_text
            +button({text: 'Click me'}).button_type_text
          .form-elements-section__click-buttons-row
            +button({text: 'перейти к оплате'}).button_type_cta.button_bg_filled.button_cta-primary
      +form-unit({title: 'pagination', subtitle: ''})
        +pagination({})
