@forward '../../form-unit/form-unit.scss';
@forward '../../checkbox-button/checkbox-button.scss';
@forward '../../radio-button/radio-button.scss';
@forward '../../toggle/toggle.scss';
@forward '../../like-button/like-button.scss';
@forward '../../rate-button/rate-button.scss';
@forward '../../range-slider/range-slider';
@forward '../../button/button.scss';
@forward '../../pagination/pagination.scss';

.form-elements-section__buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-elements-section__buttons-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-elements-section__checkbox-buttons {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-elements-section__radio-buttons {
  padding-top: 10px;
  display: flex;
  gap: 20px;
}

.form-elements-section__toggle {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-elements-section__like-button {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.form-elements-section__rate-button {
  padding-top: 10px;
  display: flex;
  gap: 20px;
}

.form-elements-section__click-buttons {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-elements-section__click-buttons-row {
  display: flex;
  gap: 20px;
}
