mixin form-unit-header(options)
  //- options = {title, subtitle, mods=["mod1", "mod2", ...]}

  -
    let unitClassName = 'form-unit-header';

    //- Add modifiers to class name
    if ( Object.hasOwn(options, 'mods') && options.mods) {
      //- If modifiers were passed to mixin
      options.mods.forEach((element) => {
        unitClassName += ` form-unit-header_${element}`;
      });
    }

  div(class=unitClassName)&attributes(attributes)
    .form-unit-header__title= options.title
    .form-unit-header__subtitle= options.subtitle
