@use '../../scss/abstracts/functions' as f;

:root {
  --toggle-width: 40px;
}

.toggle {
  font: var(--type-body);
  color: var(--color-dark-shade-50);
  display: grid;
  grid-template-columns: var(--toggle-width) auto;
  gap: f.toRem(10);
  cursor: pointer;
}

.toggle:hover {
  color: var(--color-dark-shade-75);
}

.toggle__input {
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--color-dark-shade-25);
  width: var(--toggle-width);
  height: f.toRem(20);
  border-radius: 10px;
  display: grid;
  place-content: center;
  margin: 0;
  transform: translateY(f.toRem(2));
  position: relative;
}

.toggle__input:hover {
  border: 1px solid var(--color-dark-shade-50);
}

.toggle__input:checked {
  border: 1px solid var(--color-purple);
}

.toggle__input:checked + span {
  color: var(--color-dark-shade-75);
}

.toggle__input::before {
  content: '';
  background: var(--color-dark-shade-25);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
  transform: translateX(-10px);
  transition: transform 0.05s ease-in-out;
}

.toggle__input:checked::before {
  background: var(--gradient-bg-primary);
  transform: translateX(10px);
  transition: transform 0.05s ease-in-out;
}
