@forward "../button/button";
@forward "../logo-full/logo-full";

.header {
  height: 70px;
}

.header__content {
  max-width: var(--header-wrapper-width);
  position: relative;
  height: 100%;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
}

.header__menu {
  height: 100%;
}

@media screen and (width < 1024px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 320px;
    z-index: 100;
    visibility: hidden;
    transition: visibility 0ms 250ms;
  }
}

.header__menu_expanded_yes {
  visibility: visible;
  transition: visibility 0ms 0ms;
}

.header__overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background: rgba(66, 65, 62, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease-in-out;
}

@media screen and (width < 1024px) {
  .header__menu_expanded_yes {
    .header__overlay {
      visibility: visible;
      opacity: 1;
      transition: all 250ms ease-in-out;
    }
  }
}

.header__menu-content {
  display: flex;
  position: relative;
  height: 100%;
  gap: 20px;
  z-index: 5;
  background: #fff;
}

@media screen and (width < 1024px) {
  .header__menu-content {
    right: -100%;
    flex-direction: column;
    gap: 30px;
    translate: 0 0;
    transition: translate 250ms ease-in-out, padding-top 0ms 250ms;
    overflow-y: auto;
    padding-bottom: 20px;
  }
  .header__menu_expanded_yes {
    .header__menu-content {
      translate: -100% 0;
      padding-top: 70px;
      transition: translate 250ms ease-in-out;
    }
  }
}

.header__nav {
  display: flex;
}

@media screen and (width < 1024px) {
  .header__nav {
    flex-direction: column;
  }
}

.nav-item {
  height: 100%;
  font: var(--type-body);
  color: var(--color-dark-shade-50);
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.nav-item__label {
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

@media screen and (width < 1024px) {
  .nav-item__label {
    padding: 20px 20px;
    box-shadow: 0 1px 0 var(--color-dark-shade-10);
    justify-content: space-between;
  }
  .nav-item__label:hover {
    font-weight: 700;
    color: var(--color-dark-shade-75);
  }
}

.nav-item_active_yes {
  .nav-item__label {
    font-weight: 700;
    color: var(--color-dark-shade-75);
  }
}

.nav-item__title {
}

.nav-item__hover-type_bold {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.nav-item__hover-type_bold::before {
  content: attr(data-title);
  font-weight: 700;
  height: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
}

.nav-item__arrow-icon {
  height: fit-content;
  line-height: 0;
  margin-left: 6px;
  transition: rotate 0.2s ease-out;
}

.nav-item_active_yes {
  .nav-item__arrow-icon {
    rotate: -180deg;
    transition: rotate 0.2s ease-out;
  }
  .nav-item__arrow-icon > svg > path {
    fill: var(--color-dark-shade-50);
  }
}

.nav-item__list {
  display: none;
  position: absolute;
  top: calc(100% - 10px);
  left: 10px;
  z-index: 5;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: auto;
}

@media screen and (width < 1024px) {
  .nav-item__list {
    position: static;
    border-radius: 0;
    box-shadow: none;
    box-shadow: 0 1px 0 var(--color-dark-shade-10);
    padding-left: 20px;
  }
}

.nav-item_active_yes {
  .nav-item__list {
    display: block;
  }
}

.nav-item__list-item {
}

.nav-item__list-link {
  display: block;
  min-width: 170px;
  padding: 10px 0;
  margin: 0 20px;
  position: relative;
}

.nav-item__list-link:visited {
  color: var(--color-dark-shade-50);
}

.nav-item__list-link:hover {
  color: var(--color-dark-shade-75);
  font-weight: 700;
}

.nav-item__list-link::after {
  content: "";
  width: 10px;
  height: 10px;
  background: url("./img/arrow-right.svg");
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.nav-item__link {
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: start;
  text-align: start;
}

@media screen and (width < 1024px) {
  .nav-item__link {
    padding: 20px 20px;
    box-shadow: 0 1px 0 var(--color-dark-shade-10);
  }
}

.nav-item__link:visited {
  color: var(--color-dark-shade-50);
}

.nav-item_active_yes {
  .nav-item__link {
    color: var(--color-dark-shade-75);
    font-weight: 700;
  }
}

.header__actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media screen and (width < 1024px) {
  .header__actions {
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
  }
}

.header__burger-menu-button {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1000;
}

.burger-button {
  display: none;
  width: min-content;
  height: min-content;
  cursor: pointer;
  --animation-length: 200ms;
}

@media screen and (width < 1024px) {
  .burger-button {
    display: flex;
  }
}

.burger-button__burger {
  fill: var(--color-dark-shade-100);
}

.burger-button-line {
  transition: y var(--animation-length) ease-in-out var(--animation-length),
    rotate var(--animation-length) ease-in-out,
    opacity 0ms var(--animation-length);
  transform-origin: center;
}

.burger-button_expanded_yes {
  .burger-button-line {
    transition: y var(--animation-length) ease-in-out,
      rotate var(--animation-length) ease-in-out var(--animation-length),
      opacity 0ms var(--animation-length);
  }

  :is(.burger-button__top-line, .burger-button__bottom-line) {
    y: 45;
  }

  .burger-button__top-line {
    rotate: 45deg;
  }

  .burger-button__mid-line {
    opacity: 0;
  }

  .burger-button__bottom-line {
    rotate: -45deg;
  }
}
