@use '../../scss/abstracts/functions' as f;

.date-dropdown {
  position: relative;
}

.date-dropdown_opened {
  .date-dropdown__select {
    border: 1px solid var(--color-dark-shade-50);
  }

  .date-dropdown__select::before {
    border-color: var(--color-dark-shade-75);
  }
}

.date-dropdown__select {
  position: relative;
  cursor: pointer;
}

.date-dropdown__select::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border: solid var(--color-dark-shade-50);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
}
