mixin date-dropdown(options)
  //- options = {options, mods=["mod1", "mod2", ...]}

  -
    let unitClassName = 'date-dropdown';

    //- Add modifiers to class name
    if ( Object.hasOwn(options, 'mods') && options.mods) {
      //- If modifiers were passed to mixin
      options.mods.forEach((element) => {
        unitClassName += ` date-dropdown_${element}`;
      });
    }

  div(class=unitClassName)&attributes(attributes)
    .date-dropdown__select.field.field_size_s!= options.value
