.button.button.button_bg_ghost {
  color: var(--color-purple);
  position: relative;
  outline: none;
  background: transparent;
  border: none;
  border-radius: calc(45px / 2);
}

.button.button_bg_ghost::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  border: 2px solid transparent;
  background: var(--gradient-bg-primary) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.button.button_bg_ghost:hover::before {
  opacity: 0.5;
}
