.logo-full {
  display: flex;
  align-items: center;
  gap: 13px;
  position: relative;
  width: fit-content;
}

.logo-full__icon {
}

.logo-full__text {
}

.logo__link {
  position: absolute;
  inset: 0;
}
